* {
  margin: 0;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.admin-panel,
.books-content {
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  margin: 0 auto;
}
.admin-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
}

.itemCount {
  background-color: #d22b2b;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
  padding: 2px 4px;
  position: absolute;
  right: -8px;
  top: -4px;
}
